body{
background-color: #f1f1f1;
padding: 0;
margin: 0;
overflow-x: hidden;
text-align: center;


}

header{
width:1200px;
height: 80px;
display: block;
background-color: rgb(0, 97, 0);
padding: 20px;
box-shadow: 0 0 9px #003000;

}
header li{
    display: inline;
    padding-left: 75px;
    font-size: 3ch;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: -22px;
    
}
header li a{
    color: #f1f1f1;
    padding: 15px;
    transition: 2s ease;
    text-decoration: none;
    
    


}
header li a:hover{
    color: #36e64e;
}
header ul #contact a{
    float: right;
    position: relative;
    top: -17px;
}
header li img{
    width: 180px;
    float: left;
    margin-top: -10px;
}
h1{font-family: cursive;}
p{font-size: 3.5ch;
margin: 2.5ch;
font-family: Verdana, Geneva, Tahoma, sans-serif;}

p a{
    color: #f1f1f1;
    
text-decoration: none;
border-radius: 2px;
transition: 1s ease;
font-size: 1ch;
}


p a:hover{
    color: #36e64e;
}