body{
background-color: #ffffff;
text-align: center;
transition: 0.5s;
width: 100%;
align-items: center;



}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#root{
    width:100%;
    display: block;
    background-color: #003000;
height: 3000px;
padding: 20px;
overflow: hidden;
box-shadow: 0 0 9px #003000;
}

header{
width:100%;
height: 80px;
display: block;
background-color: rgb(0, 97, 0);
padding: 20px;
box-shadow: 0 0 7px #003000;
position: sticky;
top: 0%;

}
header li{
    display: inline;
    padding: 25px;
    font-size: 2ch;
    font-family:'Franklin Gothic Medium';
    top: 30px;
    text-align:left;
    
    
    
    
}
header li a{
    color: #f1f1f1;
    padding: 15px;
    transition: 2s ease;
    text-decoration: none;

    
    


}
header li a:hover{
    color: #36e64e;
}
header ul #contact a{
    float: right;
    position: relative;
    top: -17px;

}





header li img{
    width: 130px;
    float:inline-start;
    margin-block-end: -10px;
    padding-left: 0;
}
h1{font-family: cursive;}
p{font-size: 3.5ch;
margin: 2.5ch;
font-family: Verdana, Geneva, Tahoma, sans-serif;
padding: 20px;

}

p a{
    color: #f1f1f1;
    
text-decoration: none;
border-radius: 2px;
transition: 1s ease;
font-size: 1ch;
}


p a:hover{
    color: #36e64e;
}

div{
    width: 100%;
    height: 50px;
    display: block;
    background-color: rgb(20, 32, 20);
    padding: 15px;

    }


.started{
    width: 100%;
    height: 50px ;
    display: block;
    background-color: rgb(0, 97, 0);
    align-items: center;
    text-align: center;
    margin-block-end: 20px ;
    -moz-box-align: center;
}
div ul a{
    text-decoration: none;
    color: rgb(236, 245, 236);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 2s ease;
}
div ul a:hover{
    color: #36e64e;
}

.button{
    position: absolute;
    
    transform: translate(-50%, -50%);
    background: rgb(0, 97, 0);
    border: none;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding: 20px;
    width: 250px;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 20px;

}
.button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.button span::after{
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0px;
    right: -20px;
    transition: 0.5s;
}

.button:hover span{
    padding-right: 25px;
}

.button:hover span::after{
    opacity:1;
    right: 0px;
}
.button a span{
    color: white;
}