body{
background-color: #f1f1f1;
padding: 0;
margin:auto 0;
overflow-x: hidden;
text-align: center;
transition: 0.5s;

}

#root{
    width:100%;
    display: block;
    background-color: #003000;
height: 3000px;
padding: 20px;
overflow: hidden;
box-shadow: 0 0 9px #003000;
}

header{
width:100%;
height: 80px;
display: block;
background-color: rgb(0, 97, 0);
padding: 20px;
box-shadow: 0 0 9px #003000;

}
header li{
    display: inline;
    padding: 25px;
    font-size: 4ch;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: -30px;
    text-align:left;
    
    
    
}
header li a{
    color: #f1f1f1;
    padding: 15px;
    transition: 2s ease;
    text-decoration: none;
    
    


}
header li a:hover{
    color: #36e64e;
}
header ul #contact a{
    float: right;
    position: relative;
    top: -17px;

}

header li img{
    width: 180px;
    float:inline-start;
    margin-top: -10px;
    padding-left: 10px;
}
h1{font-family: cursive;}
p{font-size: 3.5ch;
margin: 2.5ch;
font-family: Verdana, Geneva, Tahoma, sans-serif;}

p a{
    color: #f1f1f1;
    
text-decoration: none;
border-radius: 2px;
transition: 1s ease;
font-size: 1ch;
}


p a:hover{
    color: #36e64e;
}

